@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yx7a83');
  src:  url('fonts/icomoon.eot?yx7a83#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yx7a83') format('truetype'),
    url('fonts/icomoon.woff?yx7a83') format('woff'),
    url('fonts/icomoon.svg?yx7a83#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-edit-small .path1:before {
  content: "\e91c";
  color: rgb(0, 0, 0);
  opacity: 0.72;
}
.icomoon-edit-small .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.icomoon-edit-small .path3:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.icomoon-edit-small .path4:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.icomoon-edit-small .path5:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.icomoon-edit-small .path6:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.icomoon-edit-small .path7:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.icomoon-edit-small .path8:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.icomoon-edit-small .path9:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.icomoon-edit-small .path10:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.icomoon-edit-small .path11:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.icomoon-edit-small .path12:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.icomoon-edit-small .path13:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.icomoon-edit-small .path14:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.9;
}
.icomoon-rubbish-bin-delete-button .path1:before {
  content: "\e92a";
  color: rgb(0, 0, 0);
}
.icomoon-rubbish-bin-delete-button .path2:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icomoon-icon-closed:before {
  content: "\e91a";
}
.icomoon-phone2:before {
  content: "\e912";
}
.icomoon-gift:before {
  content: "\e91b";
}
.icomoon-block2:before {
  content: "\e919";
}
.icomoon-new-check:before {
  content: "\e918";
}
.icomoon-moderation:before {
  content: "\e917";
}
.icomoon-more-dots:before {
  content: "\e90d";
}
.icomoon-profile-moderation-canceled .path1:before {
  content: "\e90b";
  color: rgb(255, 0, 0);
}
.icomoon-profile-moderation-canceled .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icomoon-pad-lock:before {
  content: "\e90e";
}
.icomoon-writing-message:before {
  content: "\e90f";
}
.icomoon-crown:before {
  content: "\e90a";
}
.icomoon-profile-photo-warning .path1:before {
  content: "\1f32b";
  color: rgb(255, 0, 0);
}
.icomoon-profile-photo-warning .path2:before {
  content: "\1f32c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icomoon-profile-photo-warning .path3:before {
  content: "\1f32d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icomoon-camera:before {
  content: "\e900";
}
.icomoon-edit-pencil:before {
  content: "\e901";
}
.icomoon-camera-add:before {
  content: "\e902";
}
.icomoon-invisible-hat:before {
  content: "\e903";
}
.icomoon-messages:before {
  content: "\e904";
}
.icomoon-profile-moderation-pending .path1:before {
  content: "\e905";
  color: rgb(72, 171, 255);
}
.icomoon-profile-moderation-pending .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icomoon-search:before {
  content: "\e907";
}
.icomoon-trash:before {
  content: "\e908";
}
.icomoon-views:before {
  content: "\e909";
}
.icomoon-check:before {
  content: "\e916";
}
.icomoon-chevron-right:before {
  content: "\e915";
}
.icomoon-chevron-left:before {
  content: "\e914";
}
.icomoon-add:before {
  content: "\e911";
  color: #fff;
}
.icomoon-phone:before {
  content: "\e913";
  color: #fff;
}
.icomoon-undo:before {
  content: "\e910";
}
.icomoon-left:before {
  content: "\e910";
}
.icomoon-arrow-left:before {
  content: "\e910";
}
.icomoon-zoom-in:before {
  content: "\e987";
}
.icomoon-heart:before {
  content: "\e9da";
}
.icomoon-cancel:before {
  content: "\ea0d";
}
.icomoon-cross:before {
  content: "\ea0f";
}
