{# ______________________________________ HOW BUY DTC________________________________ #}
<div id="how-buy-dtc" class="js-how-buy-dtc fw-hidden">
    <h2 class="fw-fz-18 fw-text-400 fw-pb-15">Чтобы пополнить баланс DTC в приложении, переведите DTC со своего ETH <br> кошелька на этот адрес:</h2>

    <div class="fw-flex fw-flex-top fw-flex-left">
        <div class="fw-width-120 fw-height-120">
            <img src="/web/images/DTC/qr.png" class="fw-width-1-1 fw-height-1-1 fw-min-width-120" alt="">
        </div>

        <div class="fw-flex fw-flex-top fw-flex-column fw-pl-20">
            <p id="DTC-address" class="fw-mb-15 fw-fz-14 ffr fw-color-gray3">1GZcSFw3onsfusWBqvTZSCg5BTiQXYpS3h</p>
            <button  title="" data-clipboard-target="#DTC-address" class="js-copy-dtc-address new-female-profile--button fw-fz-14 fw-mt-0 fw-color-white fw-pb-8 fw-pt-8 fw-width-1-1 fw-border-radius-5">
                Скопировать адрес
            </button>
        </div>
    </div>

    <a href="#" class="js-dtc-block-hide fw-pt-20 fw-fz-14 fw-color-purple ffr fw-mb-35">Выбрать другой способ оплаты</a>

    <h3 class="fw-fz-19 fw-text-600 fw-mb-10">Как купить токены DTC</h3>

    <div id="dtc-accordeon" class="js-dtc-accordeon">
        <div class="dtc-accordeon--head js-dtc-acc-head fw-text-600 fw-border-bottom fw-fz-14 fw-pt-15 fw-pb-15 fw-flex fw-flex-space-between fw-flex-middle fw-pointer fw-pr-10">
            Как купить токены  DTC  <span class="icomoon icomoon-chevron-right dtc-head-row fw-fz-20 fw-color-gray4"></span>
        </div>
        <div class="dtc-accordeon--body js-dtc-acc-body fw-hidden fw-pt-15 fw-pb-40">
            Для покупки токенов Вам необходимо перевести биткоины или эфиры на приведённые адреса. Адреса сгенерированны индивидуально для приёма ваших платежей, поэтому когда средства на них поступят система поймёт что это перевод именно от вас.
            <br><br>
            Токены будут доступны для перевода на любой удобный вам счёт, когда закончится token sale.
        </div>

        <div class="dtc-accordeon--head js-dtc-acc-head fw-text-600 fw-border-bottom fw-fz-14 fw-pt-15 fw-pb-15 fw-flex fw-flex-space-between fw-flex-middle fw-pointer fw-pr-10">
            Как завести ETH кошелек  <span class="icomoon icomoon-chevron-right dtc-head-row fw-fz-20 fw-color-gray4"></span>
        </div>
        <div class="dtc-accordeon--body js-dtc-acc-body fw-hidden fw-pt-15 fw-pb-40">
            Для покупки токенов Вам необходимо перевести биткоины или эфиры на приведённые адреса. Адреса сгенерированны индивидуально для приёма ваших платежей, поэтому когда средства на них поступят система поймёт что это перевод именно от вас.
            <br><br>
            Токены будут доступны для перевода на любой удобный вам счёт, когда закончится token sale.
        </div>

        <div class="dtc-accordeon--head js-dtc-acc-head fw-text-600 fw-border-bottom fw-fz-14 fw-pt-15 fw-pb-15 fw-flex fw-flex-space-between fw-flex-middle fw-pointer fw-pr-10">
            На какой бирже купить токен <span class="icomoon icomoon-chevron-right dtc-head-row fw-fz-20 fw-color-gray4"></span>
        </div>
        <div class="dtc-accordeon--body js-dtc-acc-body fw-hidden fw-pt-15 fw-pb-40">
            Для покупки токенов Вам необходимо перевести биткоины или эфиры на приведённые адреса. Адреса сгенерированны индивидуально для приёма ваших платежей, поэтому когда средства на них поступят система поймёт что это перевод именно от вас.
            <br><br>
            Токены будут доступны для перевода на любой удобный вам счёт, когда закончится token sale.
        </div>

        <div class="dtc-accordeon--head js-dtc-acc-head fw-text-600 fw-fz-14 fw-pt-15 fw-pb-15 fw-flex fw-flex-space-between fw-flex-middle fw-pointer fw-pr-10">
            Сколько времени занимает зачисление токена <span class="icomoon icomoon-chevron-right dtc-head-row fw-fz-20 fw-color-gray4"></span>
        </div>
        <div class="dtc-accordeon--body js-dtc-acc-body fw-hidden fw-pt-15 fw-pb-40">
            Для покупки токенов Вам необходимо перевести биткоины или эфиры на приведённые адреса. Адреса сгенерированны индивидуально для приёма ваших платежей, поэтому когда средства на них поступят система поймёт что это перевод именно от вас.
            <br><br>
            Токены будут доступны для перевода на любой удобный вам счёт, когда закончится token sale.
        </div>

    </div>
</div>
{# _______________________________________/___________________________________________ #}