{# View photos in gallery popup #}
<div class="overlay new-profile__overlay-popup">
    <div class="popup-wrap  fw-flex fw-flex-middle fw-flex-center fw-height-1-1" >
        <div class="new-profile__view-photo fw-relative fw-width-610 fw-overflow-hidden fw-max-width-610">
            <div class="new-profile__gradient-overlay fw-border-radius-10 fw-absolute fw-left-0 fw-height-1-1 fw-width-1-1"></div>

            <div class="new-profile__close-photo-popup fw-right-26 fw-top-20"><span class="new-profile__close"></span></div>
            <img src="web/sass_images/header_bg.jpg" class="new-profile__view-photo-img fw-width-1-1 fw-border-radius-10" alt="">

            <div class="new-profile__img-status fw-absolute fw-bottom-70 fw-width-1-1 fw-flex fw-flex-center">
                <div class="new-profile__img-status-title fw-fz-12 fw-pt-8 fw-pb-8 fw-pr-72 fw-pl-72 fw-relative">
                    <span class="new-profile__moderation-title">Фото на модерации</span>

                    <span class="icomoon fw-fz-28 fw-right-0 fw-top-0 icomoon-profile-moderation-pending new-profile__moderation-icon fw-absolute">
                        <span class="path1"></span><span class="path2"></span>
                    </span>
                </div>
            </div>

            <div class="new-profile__edit-panel fw-flex fw-bottom-28 fw-left-0  fw-width-1-1 fw-flex-middle fw-flex-space-between fw-pl-28 fw-pr-28">
                <div class="new-profile__edit-panel-buttons">
                    <button class="new-profile__be-main new-profile__view-popup-btn fw-fz-14 fw-color-white">Сделать основным</button>
                    <button class="new-profile__edit fw-pl-38 fw-relative new-profile__view-popup-btn fw-fz-14 fw-color-white">Редактировать</button>
                </div>
                <button class="new-profile__edit-panel-delete new-profile__view-popup-btn fw-fz-14 fw-color-white">Удалить</button>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {

        var viewPopup = function () {

            $('.new-profile__button-view-photo').click(function () {
                $('.overlay').css('display', 'block');
            });

            $('.closePhotoPopup').click(function () {
                $('.overlay').css('display', 'none');
            });

            // TODO вот этот код не было необходимости писать, потому что функционал попапов написан и надо использовать функционал попапов проекта в целом а не писать каждый раз свой под каждый попап
        };


        // TODO все классы с которым работает JS необходимо создавать отдельно, дополнительные классы и ставить им приставку .js-check-box
        var checkboxFunction = function () {

            function checkboxBorderPurple() {
                var border = $(' .js-checkbox-border').css('border-color','#ba78c0');
            }

            function checkboxBorderWhite() {
                var border = $(' .js-checkbox-border').css('border-color','#fff');
            }



            //counter
            var i = 0;

            function add() {
                i++;
            }

            function remove() {
                i--;
            }

            function buttonAndBorder() { // TODO вместо того что бы каждый раз бегать по всем картинкам и показывать или прятать их, я бы на текущий момент зацепился за контейнер и добавлял ему доп класс и убирал его, и уже через CSS показывал или прятал необходимые мне элементы и состояния, это более оптимизированный подход (меньше JS ресурсов)
                var delAndResetWrapper = $('.js-new-profile-album-delete-images-wrap');
                if (i === 0) {
                    $(delAndResetWrapper).hide(); // TODO подобные классы в таком крупном проекте не подходят, по скольку ты хочешь тут юзать БЭМ необходимо заменять их на .js-new-profile-album-delete-image к примеру. что бы они имели очень конкретную привязку
                    checkboxBorderWhite();
                } else if (i > 0) {
                    $(delAndResetWrapper).css('display','flex');
                    checkboxBorderPurple();
                }
            }

            // TODO вот эту функцию я бы вообще переписал, я бы сделал ее таким образом что она подсчитывает количество чекнутых чекбоксов при изменении состояния чекбокса
            // в данном случае функции add и remove будут не нужны, логика с определением и добавлением будет так же не нужна, в общем проще и красивее
            // + конструкция .click устарела, необходимо писать .on('click', function(){})

            // validate checkbox on checked
            $('.js-checked').on('click',(function () { // TODO тут так же проблемы с классом и в целом таких классов даже в новом проекте быть не должно. необходимо делать очень конкретные классы что бы понимать к чему относится
                if ($(this).is(":checked")) {
                    add();
                } else {
                    remove();
                }
                buttonAndBorder();
            }));

            // reset checkbox function
            $('.reset-checkbox').on('click', function() {
                $('.js-checked').prop('checked',false);
                var border = $(' .js-checkbox-border').css('border-color','#fff');
                $('.js-new-profile-album-delete-images-wrap').hide();
                i = 0;
            });

        };

        checkboxFunction();
        viewPopup();


        $(function overlayCheckboxItem () {
            var checkbox = $('.js-checkbox-border');
            var overlay  = $('.js-new-profile__photo-overlay');

            $(checkbox).mouseenter(function () {
                $(this).parent().parent().find(overlay).addClass('active-overlay-hover-checkbox');
            });

            $(checkbox).mouseleave(function () {
                $(this).parent().parent().find(overlay).removeClass('active-overlay-hover-checkbox');
            });
        });


    });

</script>

{# end #}


{# Load image popup #}
<div class="overlay overlay-popup ">
    <div class="popup-wrap  fw-flex fw-flex-middle fw-flex-center fw-height-1-1">
        <div class="new-popup-registration tac hidden" data-popup-block="reg_photo" style="display: block;">
            <div class="new-popup-registration__mask mb20">
                <div class="new-profile__close-load-popup fw-relative fw-width-1-1 fw-pb-15">
                    <div class="new-profile__close-photo-popup fw-flex fw-flex-right fw-right-0 fw-top-0"><span class="new-profile__close--close-load fw-relative"></span></div>
                </div>
                <div class="new-popup-registration__mask-container">
                    <input type="file" accept="image/jpeg,image/png" multiple="" class="news-popup-registration__mask-input" id="news-popup-registration__mask-input">

                    <div class=" new-profile__new-popup-registration__mask-container-units ">
                        <div class="new-profile__new-popup-registration__mask-item__added-photo add-button fw-text-center ">
                            <p class="new-popup-registration__mask-item__added-photo--top-icon new-profile__popup-registration__mask-item__added-photo--top-icon"><i class="icomoon icomoon-camera-add fw-fz-46 fw-color-red-light"></i></p>
                        </div>

                    <div class="new-popup-registration__mask-container__text new-profile__popup-registration__mask-container__text">
                        Перетащите сюда свои фото или <br><span class="new-purple-link">выберите</span> файл
                    </div>
                </div>
            </div>

            <div class="new-profile__popup-reg-slider-wrap">
                <div class="new-profile__popup-reg-slider">
                    <div class="new-profile__popup-reg-slider--slide"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{# End #}