<div class="overlay overlayPopup">
    <div class="table_wrap popupWrap">
        <div class="viewPhoto fw-relative">
            <div class="closePhotoPopup"><img src="web/sass_images/icons/icon-crop-cross.png" alt=""></div>
            <img src="web/sass_images/header_bg.jpg" class="viewPhoto__img" alt="">
            <div class="editPanel fw-width-1-1">
                <div class="editPanel__buttons">
                    <button class="beMain view-popup-btn">Сделать основным</button>
                    <button class="edit view-popup-btn">Редактировать</button>
                </div>

                <button class="editPanel__delete view-popup-btn">Удалить</button>
            </div>

        </div>
    </div>
</div>


<script>

    $( document ).ready(function() {
        var viewPopup = function () {

            $('.button_view_photo').click(function () {
                $('.overlay').css('display', 'block');
            });

            $('.closePhotoPopup').click(function () {
                $('.overlay').css('display', 'none');
            });

        };


        var checkboxFunction = function () {

            var i = 0;

            function add(){
                i++;
            }

            function remove(){
                i--;
            }

            function button(){
                if(i == 0 ){
                    $('.deleteImages').hide();
                }else if(i>0){
                    $('.deleteImages').show();
                }
            }

            $('.check_img').click(function () {
                if($(this).is(":checked"))  {
                    add();
                    $(this).parent().parent().addClass('photoOverlay_active');

                } else {
                    remove();
                    $(this).parent().parent().removeClass('photoOverlay_active');

                }
                button();
            });
        };


        checkboxFunction();
        viewPopup();

    });

</script>