<div class="overlay overlayPopup">
    <div class="table_wrap popupWrap">
        <div class="viewPhoto fw-relative">
            <div class="closePhotoPopup"><i class="icon icon-crop-cross"></i></div>
            <img src="web/sass_images/header_bg.jpg" class="viewPhoto__img" alt="">
            <div class="editPanel fw-width-1-1">
                <div class="editPanel__buttons">
                    <button class="beMain view-popup-btn">Сделать основным</button>
                    <button class="edit view-popup-btn">Редактировать</button>
                </div>

                <button class="editPanel__delete view-popup-btn">Удалить</button>
            </div>

        </div>
    </div>
</div>


<script>

    $(document).ready(function () {

        var viewPopup = function () {

            $('.button_view_photo').click(function () {
                $('.overlay').css('display', 'block');
            });

            $('.closePhotoPopup').click(function () {
                $('.overlay').css('display', 'none');
            });

            // TODO вот этот код не было необходимости писать, потому что функционал попапов написан и надо использовать функционал попапов проекта в целом а не писать каждый раз свой под каждый попап

        };

        // TODO все классы с которым работает JS необходимо создавать отдельно, дополнительные классы и ставить им приставку .js-check-box
        var checkboxFunction = function () {

            var i = 0;

            function add() {
                i++;
            }

            function remove() {
                i--;
            }

            function button() { // TODO вместо того что бы каждый раз бегать по всем картинкам и показывать или прятать их, я бы на текущий момент зацепился за контейнер и добавлял ему доп класс и убирал его, и уже через CSS показывал или прятал необходимые мне элементы и состояния, это более оптимизированный подход (меньше JS ресурсов)
                if (i === 0) {
                    $('.deleteImages').hide(); // TODO подобные классы в таком крупном проекте не подходят, по скольку ты хочешь тут юзать БЭМ необходимо заменять их на .js-new-profile-album-delete-image к примеру. что бы они имели очень конкретную привязку
                } else if (i > 0) {
                    $('.deleteImages').show();
                }
            }


            // TODO вот эту функцию я бы вообще переписал, я бы сделал ее таким образом что она подсчитывает количество чекнутых чекбоксов при изменении состояния чекбокса
            // в данном случае функции add и remove будут не нужны, логика с определением и добавлением будет так же не нужна, в общем проще и красивее
            // + конструкция .click устарела, необходимо писать .on('click', function(){})

            $('.check_img').click(function () { // TODO тут так же проблемы с классом и в целом таких классов даже в новом проекте быть не должно. необходимо делать очень конкретные классы что бы понимать к чему относится
                if ($(this).is(":checked")) {
                    add();
                    $(this).parent().parent().addClass('photoOverlay_active');

                } else {
                    remove();
                    $(this).parent().parent().removeClass('photoOverlay_active');

                }
                button();
            });
        };


        checkboxFunction();
        viewPopup();

    });

</script>