
<div class="overlay new-profile__overlay-popup" style="display: none">
    <div class="popup-wrap  fw-flex fw-flex-middle fw-flex-center fw-height-1-1" >
        {# edit and view photo  popup #}
        <div data-popup-block="new-profile__edit-view-photo" class="new-profile__view-photo fw-relative fw-width-610 fw-overflow-hidden fw-max-width-610" style="display: none;">
            <div class="new-profile__gradient-overlay fw-border-radius-10 fw-absolute fw-left-0 fw-height-1-1 fw-width-1-1"></div>

            <div class="new-profile__close-photo-popup fw-right-26 fw-top-20"><span class="new-profile__close"></span></div>
            <img src="http://placehold.it/600x500" class="new-profile__view-photo-img fw-width-1-1 fw-border-radius-10" alt="">

            <div class="new-profile__img-status fw-absolute fw-bottom-70 fw-width-1-1 fw-flex fw-flex-center">
                <div class="new-profile__img-status-title fw-fz-12 fw-pt-8 fw-pb-8 fw-pr-72 fw-pl-72 fw-relative">
                    <span class="new-profile__moderation-title">Фото на модерации</span>

                    <span class="icomoon fw-fz-28 fw-right-0 fw-top-0 icomoon-profile-moderation-pending new-profile__moderation-icon fw-absolute">
                        <span class="path1"></span><span class="path2"></span>
                    </span>
                </div>
            </div>

            <div class="new-profile__edit-panel fw-flex fw-bottom-28 fw-left-0  fw-width-1-1 fw-flex-middle fw-flex-space-between fw-pl-28 fw-pr-28">
                <div class="new-profile__edit-panel-buttons">
                    <button class="new-profile__be-main new-profile__view-popup-btn fw-fz-14 fw-color-white">Сделать основным</button>
                    <button class="new-profile__edit fw-pl-38 fw-relative new-profile__view-popup-btn fw-fz-14 fw-color-white">Редактировать</button>
                </div>
                <button class="new-profile__edit-panel-delete new-profile__view-popup-btn fw-fz-14 fw-color-white">Удалить</button>
            </div>
        </div>
        {# End #}

        {# Load image popup #}
        <div class="new-profile-new-popup-registration new-popup-registration  tac hidden fw-max-width-610" data-popup-block="new-profile__load-photo" style="display: none;">
            <div class="new-popup-registration__mask fw-mb-30">
                <div class="new-profile__close-load-popup fw-relative fw-width-1-1 fw-pb-15">
                    <div class="new-profile__close-photo-popup fw-flex fw-flex-right fw-right-0 fw-top-0">
                        <span class="new-profile__close--close-load fw-relative"></span>
                    </div>
                </div>

                <div class="new-popup-registration__mask-container ">
                    <input type="file" accept="image/jpeg,image/png" multiple=""
                           class="news-popup-registration__mask-input" id="news-popup-registration__mask-input">

                    <div class=" new-profile__new-popup-registration__mask-container-units fw-mt-64 ">
                        <div class="new-profile__new-popup-registration__mask-item__added-photo add-button fw-text-center ">
                            <p class="new-popup-registration__mask-item__added-photo--top-icon new-profile__popup-registration__mask-item__added-photo--top-icon">
                                <i class="icomoon icomoon-camera-add fw-fz-46 fw-color-red-light"></i></p>
                        </div>

                        <div class="new-popup-registration__mask-container__text new-profile__popup-registration__mask-container__text">
                            Перетащите сюда свои фото или <br><span class="new-purple-link">выберите</span> файл
                        </div>
                    </div>
                </div>

                <div class="new-profile__popup-reg-slider-block fw-pt-30">
                    <h3 class="fw-mb-28">Так же вы можете выбрать фото из альбома</h3>
                    <div class="new-profile__popup-reg-slider-wrap fw-relative fw-width-454 fw-margin-auto fw-relative">

                        <div class="new-profile__popup-reg-slider js-new-profile__popup-reg-slider fw-width-454 fw-margin-auto fw-flex fw-flex-space-between">
                            {% for i in 1..4 %}
                            <div class="new-profile__popup-reg-slider--slide fw-height-106 fw-width-106 fw-border-radius-7 fw-ml-10 fw-overflow-hidden fw-relative">
                                <img src="http://placehold.it/106x106" alt="" class="fw-width-1-1 fw-height-1-1">
                                <div class="new-profile__popup-reg-slider--slide-overlay fw-width-1-1 fw-height-1-1 fw-absolute fw-flex fw-flex-center fw-flex-middle fw-top-0 ">
                                    <i class="icomoon icomoon-add fw-fz-22"></i>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# End #}
    </div>
</div>


<script>

    $(document).ready(function () {

        var checkboxFunction = function () {
            var albumCheckboxes = $('input[type="checkbox"].js-new-profile-album-checkbox'),
                profileAlbumWrapper = $('.js-new-profile__album'),
                resetCheckbox = $('.js-new-profile__album-reset-checkbox');

            albumCheckboxes.on('change', function () {
                if (albumCheckboxes.filter(':checked').length > 0) {
                    profileAlbumWrapper.addClass('new-profile__album-delete-mode');
                } else {
                    profileAlbumWrapper.removeClass('new-profile__album-delete-mode');
                }
            });

            // reset checkbox function
            resetCheckbox.on('click', function() {
                albumCheckboxes.prop('checked', false);
                profileAlbumWrapper.removeClass('new-profile__album-delete-mode');
            });
        };

        checkboxFunction();

    });

</script>


