<!DOCTYPE html>
<html>
<head>
    <title>Руслан 27 лет Караганда, Казахстан</title>
    <meta name="keywords" content="Руслан 27 лет Караганда, Казахстан Принц 797333"/>
    <meta name="description"
          content="Мечтаете о счастье? Ищете свою судьбу? Тогда нам по пути! Проект Золушка Project - это Ваш реальный шанс реализовать свои мечты. Возможно это тот человек, которого Вы искали. Посмотрите анкету участника: Руслан 27 лет Караганда, Казахстан Принц 797333"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="google-site-verification" content="2qlR0MDRpsbG4YxBUdCABfFlTsXYHvH3N1Z5WiMP_6I"/>
    <meta name="google-play-app" content="app-id=com.dornoom.denim">
    <meta name="mailru-verification" content="61225df66b8c7dc5"/>
    <meta name="google-site-verification" content="4NhGntnPeLg9MOHZmbt1KN1Hg2LV8cfIEYUJY_VpUE8"/>
    <meta name="PromKod-site-verification" content="894a445d2ff677d722a6cb7382d1f4f6"/>
    <!-- <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,600,400,700&subset=latin,cyrillic"/> -->
    <!-- Libs -->
    <link rel="stylesheet" type="text/css" href="web/fonts/icomoon/style.css"/>
    <link rel="stylesheet" type="text/css" href="https://zolushka-project.ru/lib/socicon/styles.css"/>
    <link rel="stylesheet" type="text/css" href="https://zolushka-project.ru/lib/nanoscroller/nanoscroller.css"/>
    <link rel="stylesheet" type="text/css" href="https://zolushka-project.ru/lib/drop/dist/css/drop-theme-arrows.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://zolushka-project.ru/lib/jquery.smartbanner-master/jquery.smartbanner.css"/>
    <!-- Bower components -->
    <link rel="stylesheet" type="text/css"
          href="https://zolushka-project.ru/js/app/bower_components/ng-dialog/css/ngDialog.min.css?v=0.1"/>
    <link rel="stylesheet" type="text/css"
          href="https://zolushka-project.ru/js/app/bower_components/ng-dialog/css/ngDialog-theme-default.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://zolushka-project.ru/js/app/bower_components/ng-dialog/css/ngDialog-custom-width.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://zolushka-project.ru/js/app/bower_components/photoswipe/dist/photoswipe.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://zolushka-project.ru/js/app/bower_components/photoswipe/dist/default-skin/default-skin.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://zolushka-project.ru/js/app/bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://zolushka-project.ru/js/app/bower_components/emojione/assets/css/emojione.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://zolushka-project.ru/js/app/bower_components/emojione/assets/sprites/emojione.sprites.css"/>
    <link rel="stylesheet" type="text/css" href="web/dist/style.min.css?v=0.0.579"/>
    <link rel="stylesheet" type="text/css" href="https://zolushka-project.ru/css/sass_compiled/info-plate.css?v=0.551"/>
    <link rel="stylesheet" type="text/css" href="https://zolushka-project.ru/css/sass_compiled/new_reg.css?v=0.691"/>
    <link rel="stylesheet" href="https://zolushka-project.ru/css/sass_compiled/wallet-new.css">
    <link rel="apple-touch-icon" sizes="57x57" href="https://zolushka-project.ru/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://zolushka-project.ru/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://zolushka-project.ru/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://zolushka-project.ru/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://zolushka-project.ru/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://zolushka-project.ru/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://zolushka-project.ru/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://zolushka-project.ru/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://zolushka-project.ru/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="https://zolushka-project.ru/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://zolushka-project.ru/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="https://zolushka-project.ru/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="https://zolushka-project.ru/manifest.json">
    <link rel="shortcut icon" href="https://zolushka-project.ru/icons/favicon.ico"><!-- Изображение для постов в вк -->
    <link rel="image_src" href="https://zolushka-project.ru/images/sliders/59.jpg"/>
    <!--[if lte IE 8]>
    <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');

        // Optionally these for CSS
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
    </script><![endif]--></head>
<body id="reg_page" ng-app="dialogApp" ng-controller="appCtrl as appCtrl"><!-- Google Tag Manager -->
<!-- Google Tag Manager -->
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-P568Z6"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-P568Z6');</script><!-- End Google Tag Manager -->
<div id="wrapper">

    <div id='main_cont' class="card_page fw-pt-20 fw-pb-20">
        {% block content %}{% endblock %}
    </div>

</div>
<div class="main_loader" style="display: none;"><span class="preloader icon-spin3 animate-spin"></span></div>
<span ng-controller="errorCtrl as errorCtrl"></span>
<script type="text/javascript">
    window.app = {
        baseUrl: "zolushka-project.ru",
        messagesApiDomain: "//api-messages.zolushka-project.ru",
        socket: {
            host: "zolushka-project.ru/socket/",
            port: "443",
            scheme: "wss"
        },
        userId: "140",
        type: "1",
        user: {
            id: "140",
            name: "Nikto",
            type: "1",
            isCallable: true,
            session: "v1ecgg881ktl1rcp99t09hcmau",
            photoModerate: true,
            isPremiumActive: false
        }
    };
</script>
<script src="https://zolushka-project.ru/js/jquery.js"></script>
<script src="https://zolushka-project.ru/js/jquery.selectbox.js?v=0.1"></script>
<script src="https://zolushka-project.ru/js/picnic_mpage.js"></script>
<script src="https://zolushka-project.ru/js/chosen.jquery.js"></script>
<script src="https://zolushka-project.ru/js/ajax-chosen.min.js"></script>
<script src="https://zolushka-project.ru/lib/tether/dist/js/tether.min.js"></script>
<script src="https://zolushka-project.ru/js/mustache.min.js"></script><!-- Angular app and libs -->
<script src="https://zolushka-project.ru/js/app.min.js?v=201605261039"></script>
<script src="https://zolushka-project.ru/lib/jquery.smartbanner-master/jquery.smartbanner.js"></script>
<script src="https://zolushka-project.ru/js/jquery.easy-autocomplete.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var ajaxFunction = function (data) {
            var results = [];

            $.each(data.response, function (i, val) {
                results.push({value: val.id, text: val.title});
            });

            return results;
        };

        var options = {
            url: function (phrase) {
                return "/api/location/search?title=" + phrase;
            },

            listLocation: "response",
            getValue: "title",
            requestDelay: 100,
            minCharNumber: 1,
            list: {
                maxNumberOfElements: 5,
                onChooseEvent: function (event) {
                    $('.city-search').each(function (key, value) {
                        var $this = $(value);

                        $this.parent().parent().find('.hidden-city-search').val($this.getSelectedItemData().id);
                    });
                },
                onLoadEvent: function (event) {
                    $('.city-search').each(function (key, value) {
                        var $this = $(value);

                        if ($this.getItems().length == 1) {
                            $this.parent().parent().find('.hidden-city-search').val($this.getItems()[0].id);
                        }
                    });
                }
            },

            template: {
                type: "custom",
                method: function (value, item) {
                    var cityName, countryName = '';

                    if (item.city) {
                        cityName = item.city;
                    } else {
                        cityName = item.country;
                    }

                    if (item.region) {
                        countryName += item.region;
                    }

                    if (item.country) {
                        countryName += countryName == '' ? item.country : ', ' + item.country;
                    }

                    return '<p class="--new-select__city-name">' + cityName + '</p><p class="citysearch__new-select__country-name">' + countryName + '</p>';
                }
            }
        };

        var reg_options = $.extend({}, options);

        reg_options['url'] = function (phrase) {
            return "/api/location/search?registration=true&title=" + phrase;
        };

        $('.city-search').each(function (key, value) {
            var $element = $(value);

            if ($element.hasClass('registration-city-search')) {
                $([$.makeArray($element)]).easyAutocomplete(reg_options);
            } else {
                $([$.makeArray($element)]).easyAutocomplete(options);
            }
        });

        $('.picnic_carousel').picnic();
        $('.new-profile__popup-reg-slider').picnic();

        $(".chosen-select").chosen({no_results_text: "Ничего не найдено по запросу"});

        $(document).tooltip();

        $('#client_city_chosen input, #search_city_chosen input').attr('placeholder', 'Введите название города...');
    });
</script>
<script src="https://zolushka-project.ru/js/hash-validator.js"></script>
<script src="https://zolushka-project.ru/js/slider.js"></script>
<script src="https://zolushka-project.ru/js/punch.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.2.0/min/inputmask/inputmask.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.2.0/min/inputmask/jquery.inputmask.min.js"></script>
<script src="https://zolushka-project.ru/js/custom.js?v=2.5"></script>
<script src="https://zolushka-project.ru/js/custom.new.js?v=1.0"></script>
<script src="https://zolushka-project.ru/js/jscrollpane.js"></script>
<script src="https://zolushka-project.ru/js/templates.js?v=0.77"></script>
<script src="https://zolushka-project.ru/js/multi-upload.js?v=0.11"></script>
<script src="https://zolushka-project.ru/js/autobahn.min.js"></script>
<script src="https://zolushka-project.ru/js/gos_socket.js?v=0.11"></script>
<script src="https://zolushka-project.ru/js/parsley.min.js"></script>
<script type="text/javascript">
    if ($('.parsley-validate').length) {
        $('.parsley-validate').parsley({
            'trigger': 'change',
            excluded: 'input[type=button], input[type=submit], input[type=reset]',
            inputs: 'input, textarea, select, input[type=hidden], :hidden'
        });
    }

    if ($('.parsley-validate-on-submit').length) {
        $('.parsley-validate-on-submit').parsley({
            'trigger': 'submit',
            errorsWrapper: '<div></div>',
            errorTemplate: '<p></p>',
            excluded: 'input[type=button], input[type=submit], input[type=reset]',
            inputs: 'input, textarea, select, input[type=hidden], :hidden'
        });

        var $day = $('#client_birthdate_day');

        if ($day.length) {
            $day.parsley().on('field:error', function () {
                $day.parent().addClass('parsley-error');
            });

            $day.parsley().on('field:success', function () {
                $day.parent().removeClass('parsley-error');
            });

            var $month = $('#client_birthdate_month');

            $month.parsley().on('field:error', function () {
                $month.parent().addClass('parsley-error');
            });

            $month.parsley().on('field:success', function () {
                $month.parent().removeClass('parsley-error');
            });

            var $year = $('#client_birthdate_year');

            $year.parsley().on('field:error', function () {
                $year.parent().addClass('parsley-error');
            });

            $year.parsley().on('field:success', function () {
                $year.parent().removeClass('parsley-error');
            });
        }
    }
</script>
<script src="https://zolushka-project.ru/js/index.js?v=6.8.85"></script>
<script src="https://zolushka-project.ru/js/registration.js?v=0.23"></script>
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
<script>
    var currentUser = {
        id: 140,
        name: "Nikto",
        type: "1",
        photoConfirmed: false
    };
    var OneSignal = OneSignal || [];
    var isKept = false;


    OneSignal.push(function () {
        if (!OneSignal.isPushNotificationsSupported()) {
            console.log('Not supported');

            return false;
        }

        OneSignal.push(["init", {
            appId: "994c309b-b3df-4a8b-9678-45db9fe20866",
            autoRegister: false,
            notifyButton: {
                enable: false
            },
            welcomeNotification: {
                message: "Спасибо за подписку!"
            }
        }]);


        OneSignal.push(["isPushNotificationsEnabled", function (enabled) {
            console.log("Push notifications enabled: ", enabled);

            if (!enabled && !isKept) {

                if (!Cookies.get("push_popup_m_notification")) {
                    var fs = window.RequestFileSystem || window.webkitRequestFileSystem;

                    if (!fs) {
                        var $popup = $('[data-popup-block="push_popup_m_notification"]');

                        $.displayPopup($popup);

                        $('.close_popup, .buttons a', $popup).on('click', function () {
                            var date = new Date(1970, 0, 1);

                            date.setSeconds(2147483647);

                            Cookies.set("push_popup_m_notification", true, {expires: date});

                            $.get('/api/statistics/browser-push/close', {}, 'json');
                        });
                    } else {
                        fs(window.TEMPORARY,
                            100,
                            function (ws) {
                                var $popup = $('[data-popup-block="push_popup_m_notification"]');

                                $.displayPopup($popup);

                                $('.close_popup, .buttons a', $popup).on('click', function () {
                                    var date = new Date(1970, 0, 1);

                                    date.setSeconds(2147483647);

                                    Cookies.set("push_popup_m_notification", true, {expires: date});

                                    $.get('/api/statistics/browser-push/close', {}, 'json');
                                });
                            }, function (ws) {
                                console.log('Incognito mode, can\'t use browser push');
                            });
                    }
                }

            }
            if (enabled || isKept) {
                OneSignal.push(["registerForPushNotifications"]);

                OneSignal.push(["getUserId", function (userId) {
                    if (userId) {
                        $.post('/api/notifications/token', {token: userId}, 'json');
                    }
                }]);
            }
        }]);
    });

    var $notificationPopup = $('[data-popup-block="notifications"]');

    if ($notificationPopup.length) {
        $.displayPopup($notificationPopup);
    }
</script>
<script src="https://zolushka-project.ru/js/jquery.slides.js"></script><!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter31915413 = new Ya.Metrika({
                    id: 31915413,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true,
                    webvisor: true
                });
            } catch (e) {
            }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () {
                n.parentNode.insertBefore(s, n);
            };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/31915413" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript><!-- /Yandex.Metrika counter --><!-- Vk -->
<script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=LVA6Uzzf04hayINLwBnv*THcminA4y7Po609QGZ7kgcAhcXlGz*PCDMF8HCpdUhbDH3XzG/2VjNMTAMfLv70VzAslgSJ6Uww3cStWQaklj1IE3uR6KO0ASIeY7EoEE7oELnQQq4rcTLFpGQKkuud9MsNvySkt3f72FbaE2teI/0-';</script>
<!-- Fb -->
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window,
        document, 'script', '//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '517976461707824');
    fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
               src="https://www.facebook.com/tr?id=517976461707824&ev=PageView&noscript=1"
    /></noscript>

{% include '../components/popups.twig' %}
{% include '../components/female-popups.twig' %}
</body>
</html>