.fw-reset
  margin: 0
  padding: 0
  list-style: none
  background-color: transparent
  border: none
  font-family: inherit
  color: inherit
  text-decoration: inherit

  &:hover, &:active, &:focus
    text-decoration: none
    outline: none

@import "functions"
@import "viewports"
@import "display"
@import "backgrounds-and-colors"
@import "width"
@import "height"
@import "grid"
@import "margins-and-paddings"
@import "flex"
@import "fonts"
@import "border"
@import "visibilities"
@import "text"

.fw-opacity-5
  opacity: 0.5

.fw-opacity-7
  opacity: 0.7

.fw-bottom-25-px
  bottom: 25px

.fw-dashed-link
  border-bottom: 1px dashed #fff
  text-decoration: none

  &:hover
    border-color: transparent

.fw-absolute
  position: absolute

.fw-relative
  position: relative

@each $value in 56, 45
  .fw-box-proportional-#{$value}
    position: relative

    &::after
      display: block
      content: ''
      padding-top: unquote("#{$value}%")

    > *
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0

@each $value in $top
  .fw-top-#{$value}
    top: #{$value}px

.fw-top-100-percent
  top: 100%

@each $value in $bottom
  .fw-bottom-#{$value}
    bottom: #{$value}px

.fw-bottom-100-percent
  bottom: 100%

@each $value in $left
  .fw-left-#{$value}
    left: #{$value}px
  .fw-left-inverse-#{$value}
    left: -#{$value}px

.fw-left-100-percent
  left: 100%

@each $value in $right
  .fw-right-#{$value}
    right: #{$value}px

.fw-right-100-percent
  right: 100%

.fw-box-shadow
  border: solid 1px #ececec

.fw-transition
  transition: all 0.3s ease
  
.fw-z-index-1
  z-index: 1
  
.fw-z-index-9999
  z-index: 9999

.fw-text-nowrap
  white-space: nowrap

.fw-list-style-none
  list-style: none

.fw-gradient-red-purple
  background-image: linear-gradient(to right, #f23131, #bc16e1)

.fw-gradient-red-purple-right
  background-image: linear-gradient(to right, #f23131, #bc16e1)

.fw-overflow-hidden
  overflow: hidden

.fw-remove-br
  br
    display: none

.fw-no-wrap
  white-space: nowrap

.fw-object-cover
  object-fit: cover

.fw-opacity-4
  opacity: 0.4

.verify-photo-popup
  .verify-photo
    &--refresh-btn
      background: linear-gradient(180deg, #C1C1C1 0%, #A2A2A2 97.17%)
    .get_in_top .selectbox .select
      border-radius: 4px 0 0 4px
    .error-alert
      display: block
      right: calc(100% + 10px)
      &--arrow
        &:before
          content: ''
          position: absolute
          top: 50%
          transform: translateY(-50%)
          right: -10px
          border: 6px solid transparent
          border-left: 6px solid $colorWhite
          z-index: 1
        &:after
          content: ''
          position: absolute
          right: -12px
          top: 50%
          transform: translateY(-50%)
          border: 6px solid transparent
          border-left: 6px solid $colorRed

  &.send-success
    .support-message
      display: block
    .skip-verify
      display: none
    .verify-photo
      &--item4
        .verify-photo--item-subtitle
          display: block
        .verify-photo--item-number
          border-color: $colorRed
          color: $colorRed
      &--stage1
        display: none
      &--stage2
        display: block
      &--refresh-btn
        background: linear-gradient(180deg, #CB83D2 0%, #8B5A8F 100%)
  &.send-error
    .support-message
      display: block
    .skip-verify
      display: none
    .verify-photo
      &--stage1
        display: block
      .error-alert
        display: block
      .stage1-form
        &--phone-input
          border-color: $colorRed
      &--stage2
        display: none
      .get_in_top .selectbox .select
        border-top-color: $colorRed
        border-left-color: $colorRed
        border-bottom-color: $colorRed