
.icon-angle-left:before { content: '\e800'; } /* '' */
.icon-ok:before { content: '\e801'; } /* '' */
.icon-th-list:before { content: '\e802'; } /* '' */
.icon-th:before { content: '\e803'; } /* '' */
.icon-camera:before { content: '\e804'; } /* '' */
.icon-angle-right:before { content: '\e805'; } /* '' */
.icon-angle-up:before { content: '\e806'; } /* '' */
.icon-angle-down:before { content: '\e807'; } /* '' */
.icon-star:before { content: '\e808'; } /* '' */
.icon-star-empty:before { content: '\e809'; } /* '' */
.icon-gift:before { content: '\e80a'; } /* '' */
.icon-smile:before { content: '\e80b'; } /* '' */
.icon-camera-outline:before { content: '\e80c'; } /* '' */
.icon-cancel:before { content: '\e80d'; } /* '' */
.icon-heart:before { content: '\e80e'; } /* '' */
.icon-block-1:before { content: '\e80f'; } /* '' */
.icon-plus:before { content: '\e810'; } /* '' */
.icon-mail:before { content: '\e811'; } /* '' */
.icon-mobile:before { content: '\e812'; } /* '' */
.icon-lock:before { content: '\e813'; } /* '' */
.icon-comment:before { content: '\e814'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e815'; } /* '' */
.icon-bell:before { content: '\e816'; } /* '' */
.icon-chat-empty:before { content: '\e817'; } /* '' */
.icon-search:before { content: '\e818'; } /* '' */
.icon-phone:before { content: '\e819'; } /* '' */
.icon-down-small:before { content: '\e81a'; } /* '' */
.icon-up-small:before { content: '\e81b'; } /* '' */
.icon-clock:before { content: '\e81c'; } /* '' */
.icon-eye:before { content: '\e81d'; } /* '' */
.icon-check:before { content: '\e81e'; } /* '' */
.icon-facebook:before { content: '\e81f'; } /* '' */
.icon-vkontakte:before { content: '\e820'; } /* '' */
.icon-instagram:before { content: '\e821'; } /* '' */
.icon-apple:before { content: '\e822'; } /* '' */
.icon-android:before { content: '\e823'; } /* '' */
.icon-trash:before { content: '\e824'; } /* '' */
.icon-ok-1:before { content: '\e825'; } /* '' */
.icon-spin3:before { content: '\e826'; } /* '' */
.icon-pencil:before { content: '\e827'; } /* '' */
.icon-hourglass:before { content: '\e828'; } /* '' */
.icon-eye-off:before { content: '\e829'; } /* '' */
.icon-cw:before { content: '\e82a'; } /* '' */
.icon-ccw:before { content: '\e82b'; } /* '' */
