#main_header {
	border:none;
}
#main_header .txt_logo .bot {
	font-size: 24px;
  color: #b45abc;
}
#main_header .txt_logo .top {
	position: relative;
}
.search_bl .white_bl .slider-range {
	width: 225px;
}
.search_bl {
	background: url(../images/serch_bg.jpg) no-repeat center center;
	background-size: cover;
}
.message_icon {
	width: 36px;
	height: 26px;
	background: url(../images/message_icon.png) no-repeat center center;
	background-size: 100% auto;
}
.profiles_table .item:nth-child(3n+4) {
	clear: none;
}
.profiles_table .item:nth-child(6n+7) {
	clear: both;
}
.new_girls {
	padding: 30px 15px 0;
}
.main_page .profiles_table .item {
	height: 251px;
	box-shadow: 0px 0px 8px 1px #CCC;
	float: left;
	margin-bottom: 37px;
	border-radius: 3px;
	overflow: hidden;
	position: relative;
	padding-bottom: 10px;
	margin-right: 3.15%;
	width: 14%;
	text-align: center;
	clear:none;
}
.main_page .profiles_table .prof_name, .main_page .profiles_table .prof_town {
	margin-bottom: 5px;
}
.main_page .profiles_table .item:last-child, .main_page .profiles_table .item:nth-child(6n+6) {
	margin-right: 0;
}

.main_page .profiles_table .item:nth-child(6n+7) {
	clear:both;
}

.main_page .profiles_table .has_top_::before, .main_page .profiles_table .has_top_::after {
	border-width: 15px;
	top: 15px;
}
.main_page .profiles_table .has_top_ {
	right:	auto;
	left: 10px;
	padding: 8px 0px;
	width: 30px;
	font-size: 10px;
}
.main_page .profiles_table .item .img_wrap img {
	border-radius: 0px;
}
.main_page .profiles_table .photo_verified {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 8px;
	top: 8px;
}
.main_page .profiles_table .icon-angle-right {
	font-size: 18px;
}
.main_page .profiles_table .icon-angle-right::before {
	margin: 0;
}
.main_page .profiles_table .more_girl {
	color: #d94b53;
	font-size: 13px;
	line-height: 1.2em;
	position: absolute;
	right: 0;
	top: 8px;
}
.title26viol {
	font-size: 26px;
	line-height: 1.2em;
	color: #b263b8;
	font-family: "truthcyr";
}
.title32viol {
	font-size: 32px;
	line-height: 1.2em;
	color: #b263b8;
	font-family: "truthcyr";
}
.main_page .profiles_table .title_bl {
	margin-bottom: 30px;
	position: relative;
}
.viol_gift_icon {
	width: 32px;
	height: 32px;
	background: url(../images/viol_icon1.png) no-repeat center center;
	background-size: 100% auto;
}
.viol_message_icon {
	width: 32px;
	height: 32px;
	background: url(../images/viol_icon2.png) no-repeat center center;
	background-size: 100% auto;
}
.main_page .now_grid .now_item{
	float: left;
	padding: 15px 20px 15px 20px;
	border-left: 1px solid #f2f2f2;
}
.main_page .now_grid .now_item:first-child {
	border:none;
}
.main_page .right_now {
	text-align: center;
	margin-bottom: 50px;
}
.now_item .descr_bl {
	text-align: left;
	margin-left: 15px;
	display: inline-block;
	vertical-align: top;
}
.now_item .icon_bl {
	display: inline-block;
	vertical-align: top;
}
.now_item .descr_bl .date{
	margin-bottom: 10px;
	color: #a3a3a3;
	font-size: 14px;
	line-height: normal;
	font-family: "TruthCYR-R";
}
.now_item .descr_bl .event_txt {
	color: #000;
	font-size: 15px;
	line-height: normal;
	font-family: "TruthCYR-R";
}
.now_item .descr_bl .event_txt  .name {
	color: #c35aec;
}
.main_page .right_now .title26viol {
	margin-bottom: 20px;
}
.mobile_applications .title32viol > span {
	font-family: "TruthCYR-R";
}
.mobile_applications .descr_bl .txt16 {
	font-size: 16px;
	font-family: "TruthCYR-R";
	line-height: 1.2em;
	color: #94279f;
	margin-bottom: 25px;
}
.mobile_applications .descr_bl .txt14 {
	color: #303030;
	font-size: 14px;
	line-height: 1.2em;
	margin-bottom: 40px;
}
.mobile_applications .appstore {
	background: url(../images/download-appstore.svg) no-repeat center center;
	width: 130px;
	height: 45px;
	margin-right: 10px;
}
.mobile_applications .google_play {
	background: url(../images/download-playmarket.svg) no-repeat center center;
	width: 160px;
	height: 45px;
}
.mobile_applications .img_bl {
	width: 44%;
	text-align: center;
}
.mobile_applications .descr_bl {
	width: 56%;
	padding: 40px 0 0 40px;
}
.mobile_applications {
	background: #f7f8fe;
	padding: 20px 0;
}
.mobile_applications .title32viol {
	margin-bottom: 45px;
}
.slides_bl {
	padding: 120px 0 60px;
}
.slides_bl .carousel-item .txt_bl {
	width: 55%;
}
.slides_bl .carousel-item .img_bl {
	width: 45%;
	padding-left: 20px;
}
.slides_bl .carousel-item .title32viol, .main_page .slides_bl h1, .main_page .slides_bl h2 {
	margin-bottom: 50px;
	padding-right: 50px;
	font-size: 32px;
	line-height: 1.2em;
	color: #b263b8;
	font-family: "truthcyr";
}
.slides_bl .carousel-item .txt18 {
	font-size: 18px;
	color: #bb75b7;
	line-height: 1.5em;
	margin-bottom: 25px;
	font-family: "TruthCYR-R";
}
.slides_bl .carousel-item .txt14, .slides_bl .carousel-item p {
	font-size: 14px;
	margin-bottom: 15px;
	color: #303030;
	line-height: 1.5em;
}
.slides_bl .carousel-item {
	color: #303030;
	line-height: 1.5em;
	font-size: 14px;
}
.slides_bl .carousel-item ul {
	padding-left: 20px;
	margin-bottom: 30px;
}
.slides_bl .carousel-item ul li {
	margin-bottom: 5px;
}
.slides_bl .carousel-item .img_bl img {
	width: 100%;
}

.slides_bl .carousel-navigation {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	padding-left: 80px;
	height: 0;
}
.slides_bl .carousel-navigation .nav-prev, .slides_bl .carousel-navigation .nav-next {
	background: #000;
	width: 42px;
	display: inline-block;
	vertical-align: middle;
	height: 42px;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	font-size: 30px;
	cursor: pointer;
	margin: 0 6px;
}
.slides_bl .picnic_carousel {
	position: relative;
}
.slides_bl .carousel-navigation >*:before {
	margin: 0;
	padding-right: 5px;
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
}
.slides_bl .carousel-navigation .nav-prev:before {
	content: '\e800';
}
.slides_bl .carousel-navigation .nav-next:before {
	content: "\e805";
}
.slides_bl .carousel-navigation .nav-next:before {
	padding: 0;
	padding-left: 5px;
}
.slides_bl .carousel-navigation >*:hover {
	background: #b45abc;
}
.slides_bl .carousel-wrapper {
	height: 470px;
}
.form_bl .reg_form {
	width: 425px;
	margin: 0 auto;
	background: url(../images/m_form-bg.jpg) no-repeat left top, #f5f5f5;
	padding: 30px 20px;
	box-shadow: 0px 0px 10px 3px #CCC;
}
.reg_form .line_wrap {
	padding: 0;
	margin-bottom: 15px;
}
.reg_form input, .reg_form .chosen-container > a span {
	font-size: 16px;
	color: #373737;
	background: #fff;
	border-radius: 3px;
	border:1px solid #9e9e9e;
}
.reg_form .chosen-container > a span {
	height:38px;
	line-height:38px;
	padding:0 20px;
}
.reg_form .chosen-container-active.chosen-with-drop .chosen-single {
	border:none;
}
.reg_form input::-moz-placeholder {
	color: #373737;
	opacity: 1 !important;
}
.reg_form input::-webkit-input-placeholder {
	color: #373737;
	opacity: 1 !important;
}
.reg_form .title26viol {
	margin-bottom: 25px;
}
.reg_form .name_input {
	width: 240px;
}
.reg_form .sex.line {
	margin: 0;
	width: 120px;
}
.reg_form .sex .radio_wrap {
	border-radius: 3px;
	border:1px solid #9e9e9e;
}
.reg_form .sex .radio_wrap.active {
	border-color:transparent;
}
.reg_form .sex .radio_wrap:first-child {
	border-radius: 3px 0 0 3px;
}
.reg_form .sex .radio_wrap:last-child {
	border-radius: 0 3px 3px 0;
}
.reg_form .selectbox {
	font-size: 16px;
	color: #373737;
}
.reg_form .selectbox .select {
	border: 1px solid #9e9e9e;
	line-height: 2.4em;
	height: 40px;
	font-size: 16px;
	cursor: pointer;
	background: #fff;
	padding: 0 15px;
	border-radius: 3px;
}
.reg_form .select_line .w100px {
	width: 100px;
	margin-right: 15px;
}
.reg_form .select_line .w155px {
	width: 155px;
}
.reg_form .selectbox .trigger {
	border:6px solid transparent;
	border-top:8px solid #a7a7a7;
	height:0;
	width:0;
	position:absolute;
	top:50%;
	right:15px;
	margin-top:-3px;
}
.reg_form .selectbox .dropdown {
	min-width: 100%;
	top: 100% !important;
	bottom: auto !important;
	padding-top: 10px;
	border-bottom: 1px solid #9e9e9e;
}
.reg_form .selectbox .dropdown ul {
	background: #FFF ;
	border: 1px solid #9e9e9e;
}
.reg_form .selectbox .dropdown li.selected, .reg_form .selectbox .dropdown li:hover  {
	background: #DADADA none repeat scroll 0% 0%;
	color: #333;
}
.reg_form .selectbox .dropdown li {
	line-height: 38px;
	border-bottom: 1px solid #9e9e9e;
	padding: 0px 15px;
	cursor: pointer;
	list-style: outside none none;
}
.reg_form .selectbox .dropdown:after, .reg_form .selectbox .dropdown:before {
	content:"";
	display:block;
	position:absolute;
	top:0;
	left:20px;
	border: 5px solid transparent;
	border-bottom:5px solid #9e9e9e;
}
.reg_form .selectbox .dropdown:before {
	border-bottom:5px solid #fff;
	margin-top:1px;
	z-index:1;
}
.form_bl {
	padding: 70px 0 100px;
	background: #f7f8fe;
}
.form_bl .title26viol {
	margin-bottom: 30px;
}
.form_bl .desr_txt {
	width: 540px;
	margin: 0 auto;
	text-align: center;
	line-height: 1.5em;
	margin-bottom: 70px;
}
.form_bl {
	position: relative;
}
.form_bl .cont_wrap {
	position: relative;
	z-index: 10;
}
.form_bl .bg1 {
	position: absolute;
	background: url(../images/form_bl_bg1.jpg) no-repeat center center;
	width: 213px;
	height: 100px;
	top: 0;
	left: 0;
	background-size: 100% auto;
}
.form_bl .bg2 {
	position: absolute;
	background: url(../images/form_bl_bg2.jpg) no-repeat center center;
	background-size: 100% auto;
	width: 400px;
	height: 200px;
	right: 140px;
	top: 0;
}
.search_bl .title {
	font-size: 36px;
	color: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 1.2em;
}
.search_bl .more_info {
	text-align: center;
	margin-bottom: 15px;
}
.search_bl .more_info > * {
	display: inline-block;
	vertical-align: middle;
	font-family: "TruthCYR-R";
	font-size: 16px;
	margin: 0 10px;
	color: #fff;
}
.search_bl {
	text-align: center;
	padding: 10px 0 15px;
}
.search_bl .white_bl {
	display: inline-block;
	vertical-align: middle;
	background: rgba(255,255,255,0.7);
	padding: 17px 20px;
	border-radius: 5px;
}
.search_bl .violet_btn {
	width: 170px;
	padding: 0;
	padding-right: 15px;
}
.search_bl .reg_txt32 {
	font-size: 32px;
	font-family: "TruthCYR-R";
	line-height: 1.2em;
	color: #d94b53;
	margin-right: 25px;
}
.search_bl .search_filters .select_wrap {
	height: 40px;
}
.search_filters .ui-state-default .tap_area{
	width: 30px;
	border-radius: 50%;
	left: -10px;
	position: absolute;
	top: -10px;
	height: 30px;
}

/* Обновленный блок СЕО */
.main-seo-block {
	padding: 50px 0;
	line-height: 1.5;
}

.main-seo-block .buttons a {
	margin: 10px 10px;
}

.main-seo-template {
	padding: 0 30px 0 0;
}

.main-seo-template h1, h2 {
	color: #b263b8;
	margin-bottom: 30px;
}

.main-seo-template h1:first-letter, h2:first-letter {
	text-transform: uppercase;
}

.main-seo-template .items {
	margin-bottom: 30px;
}

.main-seo-template .items img {
	width: 300px;
	margin: 0 20px 20px 0;
}

.main-seo-template .items .text {
	color: #303030;
	font-size: 14px;
	margin-bottom: 20px;
	line-height: 1.5em;
}

.main-seo-template .items p {
	margin-bottom: 20px;
}

.main-seo-template .items p:last-child {
	margin-bottom: 0px;
}