{% extends 'layout/layout.twig' %}

{% block content %}
    <div class="content_wrap_shadow"><h1 class="page_title">Кошелек</h1>
        <div class="page_inside_content">
            <div class="clearfix">
                <div class="l_bl wallet_menu trans_all">
                    <!-- START new premuim plate -->
                    <a href="/payment/club-card" class="wallet-menu__premium-present">
                        {#<i class="icon-premium-present"></i>#}
                        <img src="/web/images/DTC/DTC_icon.png" class="fw-mr-10" alt="">

                        <div class="wallet-menu__premium-text ffr">
                            <p class="ffm fw-text-600 fw-fz-14">Платите токенами DTC</p>
                            <p class="fw-fz-14 fw-text-600">Выгода до 50%</p>
                        </div>
                    </a>
                    <!-- // END new premuim plate -->

                    <ul>
                        <li class="fill_balance_li ffr active"><a href="/payment">Пополнить счёт</a></li>
                        <li><a href="/payment/promo-code">Промокоды</a></li>
                        <li class="ffr "><a href="/payment/premium">Купить премиум</a></li>
                        <li class="ffr "><a href="/payment/club-card">Клубные карты</a></li>
                        <li><a href="/payment/top-elevated">Поднятие анкеты в ТОП</a></li>
                        <li><a href="/payment/minutes">Купить минуты</a></li>
                        <li><a href="/payment/contacts">Купить контакты</a></li>
                        <li><a href="/payment/photo-place">Место в фотоленте</a></li>
                        <li><a href="/payment/online">Кто онлайн</a></li>
                        <li><a href="/payment/invisible">Скрыть статус онлайн (инвизибл)</a></li>
                        <li><a href="/payment/confirmed">Подтвержденные фото</a></li>
                        <li><a href="/payment/top-fixed">Закрепление анкеты в ТОП</a></li>
                        <li class="inactive "><a href="/payment/unblock">Разблокировать анкету</a></li>
                    </ul>
                </div>

                <div class="wallet_content">
                    {% include '../twig/components/buy-dtc.twig' %}
                    <div class="unlocking js-toggle-show-for-dtc" id="wallet-add">
                        <a href="#" id="display-wallet-history">Показать архив платежей</a>
                        <p class="b-wallet--current--money mb25">На вашем счете: <span>35745</span> DTC</p>
                        <div class="fw-flex fw-flex-middle fw-flex-space-between fw-pt-15 fw-pb-15 fw-pl-10 fw-pr-10 fw-bg-color-gray2">
                            <div class="fw-flex fw-flex-left fw-flex-middle">
                                <img src="/web/images/DTC/logo_dtc.svg" alt="">
                                <p class="fw-white-space-no fw-ml-15 fw-min-width-106 fw-fz-14 fw-text-600">Токены DTC</p>
                            </div>
                            <p class="fw-pl-35 fw-max-width-360 fw-fz-12 ffr">Оплачивайте опции токенами DTC c выгодой  до 50%, а так же получите доступ к уникальным услугам</p>
                            <a href="#" class="js-show-dtc-block main_red_btn small dtc-small-button">Выбрать</a>
                        </div>
                        <a href="#" class="js-show-dtc-block fw-block fw-text-left fw-color-purple fw-fz-14 fw-mt-10 ffr">Как купить токены DTC</a>

                        <p class="b-wallet--current--money fw-mt-35 ">На Вашем счёте: 0 рублей</p>
                        <div id="w1widget"></div>
                        <table class="b-wallet--table">
                            <tbody>
                            <tr class="tr">
                                <th>Способ пополнения</th>
                                <th>Комиссия системы</th>
                                <th>Срок перевода</th>
                                <th>&nbsp;</th>
                            </tr>
                            <tr>
                                <td colspan="4" class="no--padding b-wallet--payment--meth">
                                    <div class="b-wallet--payment--meth--inner">Пластиковые карты</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="/web/images/walletone/CreditCardRUB.png?v=0.1" class="provider-image" alt="">
                                    <a href="#" class="b-wallet--table--payment_name">Visa, MasterCard</a>
                                </td>
                                <td>5.0%</td>
                                <td class="txt_left">Моментально</td>
                                <td><a href="#" class="main_red_btn small" data-open--tr="true">Выбрать</a></td>
                            </tr>

                            <tr class="hidden" data-the--tr="">
                                <td colspan="4">
                                    <form action="/payment/connectum/redirect" class="ng-pristine ng-valid fw-flex">
                                        <div class="dib vam b-wallet--input--wrapper">
                                            <input type="text" name="amount" placeholder="0" class="input_border_gray">
                                        </div>

                                        <div class="dib vam b-wallet--currency--chose">
                                            <label>
                                                <input type="radio" name="currency" class="hidden no-style radio--detector" id="" checked="">
                                                <span class="wallet--currency--name">RUR</span>
                                            </label>
                                        </div>

                                        <div class="dib vam">
                                            <button class="main_red_btn small" type="submit">Пополнить</button>
                                        </div>

                                        <div class="dib vam" style="width: 340px; margin-top: 10px; margin-left: 20px;">
                                            <input type="checkbox" id="first-checkbox" class="agree-about-rules icon-ok" checked>
                                            <label for="first-checkbox">Я ознакомился и принимаю<br/>
                                                <a href="http://zolushka-project.ru/rules" target="_blank" style="color: #f2535c;">условия соглашения</a> Золушка project
                                            </label>
                                        </div>
                                    </form>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="4" id="info-about-credit-statement">
                                    <img src="/web/images/walletone/visamc.png" width="152px;" style="margin-top: 4px;">
                                    <p class="first-p">На выписке по кредитной карте НЕ будет указано "Золушка project"</p>
                                    <p>Все выписки по кредитным картам будут конфиденциальными.</p>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="4" class="b-wallet--payment--meth">
                                    <div class="b-wallet--payment--meth--inner">Электронные платежные системы</div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <img src="/web/images/walletone/YandexMoneyRUB.png" class="provider-image" alt="" data-evernote-hover-show="true">
                                    <a href="#" class="b-wallet--table--payment_name">Яндекс-Деньги (прямой перевод)</a>
                                </td>

                                <td>
                                    0.5%
                                </td>

                                <td class="txt_left">От 15 минут до 8 часов</td>
                                <td><a href="#" data-open--tr="true" class="main_red_btn small">Выбрать</a></td>
                            </tr>
                            <tr class="hidden" data-the--tr="">
                                <td colspan="4">
                                    <div class="dib vam b-wallet--input--wrapper yandex-money-wallet">
                                        <p style="color: red;">
                                            <strong>
                                                НИЧЕГО НЕ УКАЗЫВАЙТЕ В КОММЕНТАРИИ К
                                                ПЕРЕВОДУ.
                                            </strong><br/>
                                            <strong>Тем более не нужно указывать в
                                                комментарии ссылку на свой профиль.
                                            </strong><br/>После оплаты напишите в
                                            <a href="/feedback?from=yandex">нашу службу поддержки</a> сумму, дату и
                                            номер платежа.<br/>Платежи обрабатывается в ручную ежедневно с 8:00 до
                                            23:00.
                                        </p>

                                        <div class="dib vam">
                                            <a class="main_red_btn small add-credit" id="yandex-button" style="background: grey;" href="#">Пополнить</a>
                                        </div>

                                        <p>
                                            <input type="checkbox" class="icon-ok" id="agree-yandex"/>
                                            <label for="agree-yandex">
                                                Я прочитал и понял что нужно сделать, чтобы деньги успешно зачислились на мой счёт
                                            </label>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <p> Dornoom LP., UK
                            Adress: Summit house 4-5 Mitchell street, Edinburgh EH6 7BD
                            Reg: SL21291 dated 02.07.2015</p>
                        <p> Bonoos software EU Adress: Narva mnt 7-634,Tallin Eesti 10117 Reg: 14259799 dated
                            15.05.2017</p>
                    </div>

                    <div class="balance_movements clearfix" id="wallet-history" style="display: none;">
                        <div style="padding-bottom: 50px;">
                            <p class="b-wallet--current--money mb25" style="float: left;">
                                На Вашем счёте: 0 рублей
                            </p>
                            <a href="#" id="display-wallet-add">Скрыть архив платежей</a>
                        </div>

                        <div class="l_bl"><p class="table_title">Поступления</p>
                            <table id="income-table">
                                <tbody>
                                <tr class="tbl_header">
                                    <td class="number">№</td>
                                    <td class="summ">Сумма</td>
                                    <td class="date">Дата</td>
                                    <td class="descr">Описание</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="r_bl"><p class="table_title">Списания</p>
                            <table id="purchase-table">
                                <tbody>
                                <tr class="tbl_header">
                                    <td class="number">№</td>
                                    <td class="summ">Сумма</td>
                                    <td class="date">Дата</td>
                                    <td class="descr">Описание</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    {# ______________________________________ HOW BUY DTC________________________________ #}
                    {% include '../twig/components/buy-dtc.twig' %}
                    {# _______________________________________/___________________________________________ #}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
