{% extends 'layout/layout.twig' %}

{% block content %}

    <div class="cont_wrap">
        <div class="new-profile">
            <div class="new-profile__left">
                <div class="new-profile__image-wrapper fz0">
                    <img src="http://placehold.it/300x300" class="new-profile__avatar w100" alt="">
                    <div class="new-profile__image-notify new-profile__image-notify--blue">
                        <div class="fw-margin-auto">Фото на стадии модерации</div>
                        <div>
                            <span class="icomoon icomoon-profile-moderation-pending">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </span>
                        </div>
                    </div>

                    <div class="fw-absolute fw-bottom-10 fw-left-10 fw-flex fw-flex-left fw-flex-middle">
                        <img src="web/images/confirmed.png" alt="">
                        <p class="fw-fz-14 fw-ml-5">Фото проверено</p>
                    </div>
                </div>
                <div class="new-profile__parameters">
                    <div class="w50">
                        Рост <span class="color-light">185 см</span>
                    </div>
                    <div class="w50">
                        Вес <span class="color-light">75 кг</span>
                    </div>
                </div>
                <div class="new-profile__appearance">
                    Блондин, Глаза синие, Спортивное
                    телосложение, Европейская внешность
                </div>
                <div class="fw-flex">
                    <a href="#" class="violet_btn w100">Написать</a>
                    <a href="#" class="new-profile__call-icon fw-pl-10 fw-pr-13  fw-flex fw-flex-middle fw-flex-center fw-ml-9 fw-border-radius-5 "><i class="icomoon icomoon-phone  fw-color-white fw-fz-20"></i></a>

                </div>
                {#  #}
                <div class="fw-pt-15 fw-pb-10 fw-pl-10">
                    <a href="#" class="fw-color-purple">
                        <i class="icomoon icomoon-gift fw-fz-20 fw-color-red-light"></i> <span class="fw-fz-14 fw-color-red-light fw-mr-5">0</span> | Подарить ей комплимент
                    </a>
                </div>

                {# Add to favorites and nav #}
                <div class="new-profile__favorites-wrap fw-relative fw-flex fw-flex-space-between fw-flex-middle fw-pt-10 fw-pb-10">
                    <a class="fw-pl-12" href=""><i class="icomoon icomoon-heart fw-mr-10 fw-color-red-light fw-fz-16"> <span class="fw-fz-14 fw-color-purple">В избранное</span></i></a>
                    <div class="new-profile__left-content">
                        <i class="new-profile__open-fav-menu fw-color-purple  icomoon fw-fz-5 icomoon-more-dots fw-ml-auto fw-pt-10 fw-pb-10 fw-pr-8"></i>

                        <div class="new-profile__favorite-menu-wrap fw-block fw-left-0  fw-absolute fw-width-1-1 fw-border-radius-5 fw-top-100-percent">
                            <ul class="new-profile__favorite-menu fw-relative fw-pl-14 fw-pr-14 fw-pt-10 fw-pb-10 fw-color-white">
                                <li class="fw-block"><a class="fw-pt-10 fw-pb-10 fw-flex fw-flex-baseline " href="#"><i class="fw-fz-16 fw-color-gray fw-mr-13 icomoon icomoon-pad-lock fw-mr-13"></i> <span class="fw-fz-14 fw-color-purple">Добавить в игнор</span></a></li>
                                <li class="fw-block"><a class="fw-pt-10 fw-pb-10 fw-flex fw-flex-baseline " href="#"><i class="fw-fz-16 fw-color-gray fw-mr-13 icomoon icomoon-writing-message fw-mr-13"></i> <span class="fw-fz-14 fw-color-purple">Пожаловаться</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {# end #}
            </div>
            <div class="new-profile__about">
                <div class="new-profile__name">Аполлинарий 27 лет <i class="circle-status online ml10"></i></div>
                <div class="new-profile__city color-light">Овен, Москва</div>
                <div class="new-profile__about-comment fw-mt-20">
                    <div class="fw-fz-18 fw-mb-10">О себе</div>
                    <i class="fw-text-italic fw-line-height-1-3 fw-fz-14">
                        Для тех кто ищет еще и романтику! Русский, живу на пмж в Германии. Не свободен, не молод, но
                        умен и
                        это тоже сексуально...Не жаден, достаточно обеспечен для достойного содержания молодой
                        любовницы,
                        тактичен, ухожен, всегда дорого и хорошо одеваюсь. Ищу в Москве девушку 22-28 лет для нечастых
                        встреч в Москве 2-3 в месяц, красивую умненькую, желательно с вышкой, модницу, умеющую.
                    </i>
                </div>
                <div class="fw-mt-15">
                    <div class="fw-pt-10 fw-pb-10">
                        <div class="fw-mb-5">Цель знакомства</div>
                        <div class="color-light">
                            Содержание, Постоянные отношения,
                            Совместные пушешевствия.
                        </div>
                    </div>
                    <div class="fw-pt-10 fw-pb-10">
                        <div class="fw-mb-5">Ориентация</div>
                        <div class="color-light">
                            Гетеро
                        </div>
                    </div>
                    <div class="fw-pt-10 fw-pb-10">
                        <div class="fw-mb-5">Роль в сексе</div>
                        <div class="color-light">
                            Актив
                        </div>
                    </div>
                    <div class="fw-pt-10 fw-pb-10">
                        <div class="fw-mb-5">Как часто</div>
                        <div class="color-light">
                            Раз в неделю
                        </div>
                    </div>
                    <div class="fw-pt-10 fw-pb-10">
                        <div class="fw-mb-5">Виды секса</div>
                        <div class="color-light">
                            Класически, Анальный, Оральный
                        </div>
                    </div>
                    <div class="fw-pt-10 fw-pb-10">
                        <div class="fw-mb-5">Семейные отношения</div>
                        <div class="color-light">
                            Женат
                        </div>
                    </div>
                    <div class="fw-pt-10 fw-pb-10">
                        <div class="fw-mb-5">Дети</div>
                        <div class="color-light">
                            Есть
                        </div>
                    </div>
                    <div class="fw-pt-10 fw-pb-10">
                        <div class="fw-mb-5">Интересы</div>
                        <div class="color-light">
                            Театр
                        </div>
                    </div>
                    <div class="fw-pt-10 fw-pb-10">
                        <div class="fw-mb-5">Образование</div>
                        <div class="color-light">
                            Высшее
                        </div>
                    </div>
                </div>
            </div>


            <div class="js-new-profile__album new-profile__album">
                <div class="fw-flex fw-flex-middle fw-relative fw-flex-space-between fw-mb-20 fw-height-20">
                    <div class="fw-fz-18">Общий альбом</div>
                    <div class="fw-flex  js-new-profile-album-delete-images-wrap">
                        <div class="reset-checkbox fw-relative fw-mr-15 "><i class=" fw-fz-18 icomoon new-profile__reset-icon icomoon-undo js-new-profile__album-reset-checkbox"></i></div>

                        <a href="#" class="fw-reset fw-flex fw-flex-middle fw-color-purple">
                            <i class="icomoon icomoon-trash fw-color-red-light fw-fz-18 fw-mr-10"></i>
                        </a>
                    </div>
                </div>
                <form class="fw-grid fw-grid-10 new-profile__album-wrapper">
                    <label class="new-profile__album-item fw-width-1-3 fw-fz-0 fw-relative fw-block">
                        <input type="file" class="fw-hidden">
                        <span class="new-profile__album-item-input fw-width-1-1 fw-height-1-1 fw-flex fw-flex-middle fw-flex-center">
                            <i class="icomoon icomoon-camera-add fw-color-purple"></i>
                        </span>
                    </label>
                    {% for i in 1..14 %}
                        <div class="new-profile__album-item fw-width-1-3 fw-fz-0 fw-relative">
                            <div class="fw-width-1-1 fw-height-1-1 fw-relative">
                                <img src="http://placehold.it/200" class="fw-width-1-1 new-profile__album-item-image" alt="">

                                <label class="new-profile__album-item-checkbox new-profile__album-item-checkbox fw-block curp fw-fz-0">
                                    <input type="checkbox" class="fw-hidden no-style js-new-profile-album-checkbox">
                                    <span class="new-profile__album-item-checkbox-detector js-new-profile__album-item-checkbox-detector"></span>
                                </label>

                                <div class="fw-width-1-1 fw-height-1-1 fw-absolute fw-top-0 new-profile__photo-overlay js-new-profile__photo-overlay fw-left-0 fw-border-radius-5">
                                    <span class="icomoon new-profile__edit-photo fw-left-10 fw-top-10 fw-fz-14 fw-color-white icomoon-edit-pencil"></span>
                                    <span class="icomoon new-profile__button-view-photo fw-color-white fw-fz-18 icomoon-zoom-in fw-margin-0 fw-padding-0"></span>
                                </div>

                                <div class="new-profile__album-item-notify fw-fz-16">
                                    <span class="icomoon icomoon-profile-moderation-pending">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% for i in 1..15 %}
                        <div class="js-new-profile__album-item new-profile__album-item fw-width-1-3 fw-fz-0 fw-relative fw-hidden">
                            <img src="http://placehold.it/200" class="fw-width-1-1 new-profile__album-item-image"
                                 alt="">
                            <div class="new-profile__album-item-notify fw-fz-16">
                                <span class="icomoon icomoon-profile-moderation-pending">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                </form>
                <div class="js-new-profile__album-more new-profile__album-more fw-text-center fw-padding-20">
                    <a href="#" class="js-profile-show-more-pictures fw-color-purple">еще +15 фото</a>
                </div>
            </div>

        </div>
    </div>
    <script>
        document.getElementsByClassName('js-profile-show-more-pictures')[0].addEventListener('click', function (e) {
            e.preventDefault();

            var photos = document.getElementsByClassName('js-new-profile__album-item');

            for (var i = 0; i < photos.length; i++) {
                photos[i].classList.remove('fw-hidden');
            }

            document.getElementsByClassName('js-new-profile__album-more')[0].classList.add('fw-hidden');
        });


    </script>
{% endblock %}