{% extends 'layout/layout.twig' %}

{% block content %}
    <div class="new-mailing-container fw-pt-40 fw-pl-15 fw-pr-15 fw-pb-82 fw-text-center">
        <nav class="fw-margin-auto fw-mb-42">
            <ul class="fw-flex fw-flex-middle fw-flex-center">
                <li><a href="#" class="fw-fz-16">Все рассылки</a></li>
                <li><a href="#" class="fw-fz-16 fw-ml-30">Интересы</a></li>
                <li><a href="#" class="fw-fz-16 fw-ml-30">Мои рассылки</a></li>
            </ul>
        </nav>

        <div class="new-mailing-main fw-flex fw-width-1260 fw-margin-auto mailing-shadow fw-border-radius-18">
            <div class="new-mailing-main--left fw-width-1-2 fw-pt-62 fw-pl-86 fw-pr-30 fw-pb-38">
                <div class="fw-flex fw-flex-space-between fw-pb-23">
                    <h3 class="fw-fz-18">Рассылки в вашем городе</h3>
                    <span class="fw-fz-14 fw-flex fw-flex-middle fw-color-purple">Фильтр <i class="fw-ml-10 icomoon icomoon-chevron-right"></i></span>
                </div>

                <div class="new-mailing-filter fw-pb-40">
                    <form action=""></form>
                </div>

                <div class="new-mailing-profiles-line-wrap">
                    {% for i in 1..5  %}
                    <div class="new-mailing-profiles-line fw-flex fw-flex-top fw-flex-left fw-mb-30">
                        <div class="avatar fw-width-87 fw-height-87"><img src="http://placehold.it/100x100" class="fw-width-1-1 fw-height-1-1" alt=""></div>

                        <div class="mailing-profile-information fw-max-width-405 fw-text-left fw-ml-20">
                            <p class="last-visit fw-fz-10 fw-color-gray fw-pb-10 fw-margin-0">Сегодня 16:00</p>
                            <span class="fw-block fw-fz-14 fw-mb-6 fw-flex fw-flex-left fw-flex-middle">
                                <span>Алина</span>,
                                <span>24</span>,
                                <span>Киев</span>
                                <span class="online-id-online fw-ml-10 fw-width-6 fw-height-6 fw-border-radius-percent-50 fw-block"></span>
                            </span>
                            <p class="fw-fz-12 fw-line-height-25 fw-pb-15">
                                Я учусь и работаю ) я в одно время романтичная и дерзкая девушка) Ищу отношений с материальной поддержкой.
                                Мозг не выношу ) Голова не болит )
                            </p>

                            <div class="fw-flex fw-flex-top fw-flex-space-between fw-pb-18">
                                <ul class="mailing-profile-tags fw-flex fw-max-width-300">
                                    <li><a href="#" class="fw-fz-10 fw-color-gray">#постоянные отношения</a></li>
                                    <li><a href="#" class="fw-fz-10 fw-color-gray">#путешествие</a></li>
                                </ul>

                                <a href="#" class="fw-fz-12 fw-color-purple">Проявить интерес</a>
                            </div>
                        </div>
                    </div><!-- /.new-mailing-profiles-line -->
                    {% endfor %}

                    <button class="purple-btn fw-fz-14 fw-color-white fw-pb-12 fw-pt-12 fw-width-200 fw-border-radius-5">Еще 6</button>
                </div><!-- /.new-mailing-profiles-line-wrap -->
            </div><!-- /.new-mailing-main--left -->

            <div class="new-mailing-main--right fw-width-1-2 fw-pt-62 fw-pl-40 fw-pr-86 fw-pb-38 fw-text-center">
                <div class="fw-flex fw-flex-space-between fw-pb-23 fw-mb-92">
                    <span class="fw-fz-18 fw-block fw-text-center fw-mb-9 fw-margin-auto">Найди мужчину, который тебе подходит</span>
                </div>

                <div class="create-new-mailing">
                    <h3 class="fw-fz-18 fw-mb-35">Создать рассылку</h3>

                    <form action="">
                        <div class="create-mailing-inputs fw-flex fw-flex-middle fw-flex-space-between fw-mb-20">
                            <label for="mailing-age" class="fw-fz-14">Возраст</label>
                            <input id="mailing-age" type="number" placeholder="от 18 – до 35" >
                        </div>

                        <div class="create-mailing-inputs fw-flex fw-flex-middle fw-flex-space-between fw-mb-20">
                            <label for="mailing-city" class="fw-fz-14">Город</label>
                            <input id="mailing-city" type="text" placeholder="Укажите город или страну">
                        </div>

                    </form>
                </div>
            </div><!-- /.new-mailing-main--right -->

        </div><!-- /.new-mailing-main-->
    </div><!-- /.new-mailing-container -->
{% endblock %}
