{% extends 'layout/layout.twig' %}

{% block content %}
<p>Женский профиль</p> <br>
<span>new-profile-new-popup-registration</span> <br><br>
<button data-call-popup="#new-profile-new-popup-registration">открыть</button>
<br><br> <hr> <br><br>

{% endblock %}