{% extends 'layout/layout.twig' %}

{% block content %}
    <h1>Женский профиль</h1> <br><br>
    <span>
        Попап для загрузки изображений
    </span> <br><br>
    <button class="js-popup-view-button-12" data-call-popup="#new-profile-new-popup-registration">открыть</button>
    <br><br> <hr> <br><br>

    <span>Фото из альбома повторно не прошло модерацию.Анкета заблокирована</span> <br><br>
    <button class="js-popup-view-button-12" data-call-popup="#new-female-popup-block-profile-popup">открыть</button>
    <br><br> <hr> <br><br>

    <span>Фото из альбома не прошло модерацию и будет удалено</span> <br><br>
    <button class="js-popup-view-button-12" data-call-popup="#new-female-popup-not-moderation-delete">открыть</button>
    <br><br> <hr> <br><br>

    <span>Фото для потверджение отправлено на модерацию</span> <br><br>
    <button class="js-popup-view-button-12" data-call-popup="#new-female-popup-photo-for-confirmation">открыть</button>
    <br><br> <hr> <br><br>

    <span>Ваше фото подтверждения не прошло модерацию. Загрузите другое фото.</span> <br><br>
    <button class="js-popup-view-button-12" data-call-popup="#new-female-popup-confirmation-photo-not-moderated">открыть</button>
    <br><br> <hr> <br><br>

    <span>Ваша анкета неактивна по причине отсутствия основного фото</span> <br><br>
    <button class="js-popup-view-button-12" data-call-popup="#new-female-popup-profile-is-not-active-photo">открыть</button>
    <br><br> <hr> <br><br>

    <span>Ваше основное фото не прошло модерацию. Анкета временно неактивна</span> <br><br>
    <button class="js-popup-view-button-12" data-call-popup="#new-female-popup-main-photo-not-passed-moderation">открыть</button>
    <br><br> <hr> <br><br>
{#____________________________________________________________________________________________________-#}


    <h1>Мужской профиль</h1> <br><br>
    <span>Фото на модерации, редактирование фото</span> <br><br>
    <button class="js-popup-view-button-12" data-call-popup="#new-profile__edit-view-photo">открыть</button>
    <br><br> <hr> <br><br>

    <span>Загрузка фото</span> <br><br>
    <button class="js-popup-view-button-12" data-call-popup="#new-profile-new-popup-registration">открыть</button>
    <br><br> <hr> <br><br>

    <span>Ваше основное фото не прошло модерацию. Анкета временно неактивна /  Male popup</span> <br><br>
    <button class="js-popup-view-button-12" data-call-popup="#js-new-profile-male-slider-popup">открыть</button>
    <br><br> <hr> <br>

    <span>Ваша анкета неактивна по причине отсутствия основного фото /  Male popup</span> <br><br>
    <button class="js-popup-view-button-12" data-call-popup="#new-male-popup-profile-is-not-active-photo">открыть</button>
    <br><br> <hr> <br>

    <span>add main photo /  Male popup</span> <br><br>
    <button class="js-popup-view-button-12" data-call-popup="#js-new-profile-male-add-main-photo-popup">открыть</button>
    <br><br> <hr> <br>

    <span>create male album /  Male popup</span> <br><br>
    <button class="js-popup-view-button-12" data-call-popup="#js-new-profile-male-create-album-popup">открыть</button>
    <br><br> <hr> <br>

    <span>Основное фото отправлено на модерацию /  Male popup</span> <br><br>
    <button class="js-popup-view-button-12" data-call-popup="#js-new-profile-male-photo-moderation-popup">открыть</button>
    <br><br> <hr> <br>
{#____________________________________________________________________________________________________-#}

    <h1>Попапы рассылки</h1> <br><br>
    <span>Рассылка отправлена на модерацию</span> <br><br>
    <button class="js-popup-view-button-12" data-mailing="mailing-overlay" data-call-popup="#mailing-send-for-moderation">открыть</button>
    <br><br> <hr> <br><br>

    <span>Рассылка активирована</span> <br><br>
    <button class="js-popup-view-button-12" data-mailing="mailing-overlay" data-call-popup="#mailing-send-activated">открыть</button>
    <br><br> <hr> <br><br>

    <span>Правила рассылки</span> <br><br>
    <button class="js-popup-view-button-12" data-mailing="mailing-overlay" data-call-popup="#mailing-blocked-rules">открыть</button>
    <br><br> <hr> <br><br>

    <span>Выберите пользователей которые не будут видеть рассылку</span> <br><br>
    <button class="js-popup-view-button-12" data-mailing="mailing-overlay" data-call-popup="#mailing-black-list-popup">открыть</button>
    <br><br> <hr> <br><br>

    <span>Проявили интерес</span> <br><br>
    <button class="js-popup-view-button-12" data-mailing="mailing-overlay" data-call-popup="#mailing-have-shown-interest">открыть</button>
    <br><br> <hr> <br><br>

    <span>Активация рассылки</span> <br><br>
    <button class="js-popup-view-button-12" data-mailing="mailing-overlay" data-call-popup="#activate-mailing-popup">открыть</button>
    <br><br> <hr> <br><br>

    {# DTC POPUPS _________________________________________________ #}
    <h1>Попапы DTC</h1> <br><br>

    <span>DTC</span> <br><br>
    <button class="js-popup-view-button-12" data-call-popup="#token-popup">открыть</button>
    <br><br> <hr> <br><br>

    <span>Премиум</span> <br><br>
    <button class="js-popup-view-button-12" data-call-popup="#dtc-premium-activated">открыть</button>
    <br><br> <hr> <br><br>
{% endblock %}
