$colorWhite: #fff
$colorRedLight: #ff666f
$colorPurple: #ba78c0
$colorGrayPurple: #8e94be
$colorBlue: #48abff
$colorGray: #9b9b9b
$colorGrayLight: #d8d8d8
$colorGreenLight: #1bd355
$colorGreenLight2: #59d9b7
$colorGreen: #10c899

$colors: (green-light2: $colorGreenLight2 ,gray-purple: $colorGrayPurple, purple: $colorPurple, white: $colorWhite, red-light: $colorRedLight, blue: $colorBlue, gray: $colorGray, gray-light: $colorGrayLight, green-light: $colorGreenLight,green: $colorGreen)