$colorWhite: #fff
$colorRedLight: #ff666f
$colorPurple: #ba78c0
$colorBlue: #48abff
$colorGray: #9b9b9b
$colorGrayLight: #d8d8d8
$colorGreenLight: #1bd355

$colors: (purple: $colorPurple, white: $colorWhite, red-light: $colorRedLight, blue: $colorBlue, gray: $colorGray, gray-light: $colorGrayLight, green-light: $colorGreenLight)