.new-profile
	&__view-photo
		height: auto
		line-height: normal

		&-img
			height: auto

	&__edit-panel
		position: absolute
		&-buttons
			.new-profile__edit
				&:before
					content: ''
					position: absolute
					left: 19px
					width: 1px
					height: 23px
					top: -3px
					background-color: rgba(216, 216, 216, 0.5)



	&__view-popup-btn
		transition: all .3s ease
		cursor: pointer
		background-color: transparent
		border: none
		&:hover
			color: $colorPurple


	&__close-photo-popup
		position: absolute
		cursor: pointer

	&__gradient-overlay
		background: -webkit-linear-gradient(bottom, rgb(48, 48, 48) 0%, rgb(48, 48, 48) 4%, rgba(48, 48, 48, 0.53) 14%, rgba(71, 71, 71, 0.1) 23%, rgba(255, 255, 255, 0.1) 100%)
		background: -o-linear-gradient(bottom, rgb(48, 48, 48) 0%, rgb(48, 48, 48) 4%, rgba(48, 48, 48, 0.53) 14%, rgba(71, 71, 71, 0.1) 23%, rgba(255, 255, 255, 0.1) 100%)
		background: -ms-linear-gradient(bottom, rgb(48, 48, 48) 0%, rgb(48, 48, 48) 4%, rgba(48, 48, 48, 0.53) 14%, rgba(71, 71, 71, 0.1) 23%, rgba(255, 255, 255, 0.1) 100%)
		background: -moz-linear-gradient(bottom, rgb(48, 48, 48) 0%, rgb(48, 48, 48) 4%, rgba(48, 48, 48, 0.53) 14%, rgba(71, 71, 71, 0.1) 23%, rgba(255, 255, 255, 0.1) 100%)
		background: linear-gradient(to top, rgb(48, 48, 48) 0%, rgb(48, 48, 48) 4%, rgba(48, 48, 48, 0.53) 14%, rgba(71, 71, 71, 0.1) 23%, rgba(255, 255, 255, 0.1) 100%)

	&__close::before
		border-radius: 5px
	&__close::after
		border-radius: 5px

	&__close-load-popup
		.new-profile__close-photo-popup
			position: relative


	&__close
		width: 20px
		height: 20px
		opacity: 1
		transition: all 1s ease
		display: block
		&:hover
			&:before, &:after
				background-color: $colorPurple
		&:before, &:after
			transition: all .3s ease
			position: absolute
			left: 15px
			content: ' '
			height: 20px
			width: 1px
			background-color: $colorWhite
		&:before
			transform: rotate(45deg)
		&:after
			transform: rotate(-45deg)

		&--close-load
			width: 20px
			height: 20px
			opacity: 1
			display: block
			&:hover
				&:before, &:after
					background-color: $colorPurple
			&:before, &:after
				position: absolute
				left: 15px
				transition: all .3s ease
				content: ' '
				height: 20px
				width: 2px
				background-color: #707070
			&:before
				transform: rotate(45deg)
			&:after
				transform: rotate(-45deg)

	&__img-status
		&-title
			color: $colorWhite
			background-color: rgba($colorBlue, .5)
			border-radius: 30px

	&__moderation-icon
		position: absolute


	&__new-popup-registration__mask-container-units
		//margin-top: 64px
		.new-profile__popup-registration__mask-container__text
			top: 64%


	&__popup-reg-slider
		display: flex
		.picnic-navigation
			.nav-prev
				position: absolute
				left: -60px
				top: 50%
				transform: translateY(-50%)
				cursor: pointer
				font-size: 28px
				color: $colorPurple
			.nav-next
				position: absolute
				top: 50%
				transform: translateY(-50%)
				cursor: pointer
				right: -60px
				font-size: 28px
				color: $colorPurple

		&--slide
			&:first-child
				margin-left: 0
			&:hover
				.new-profile__popup-reg-slider--slide-overlay
					visibility: visible
					opacity: 1
			&-overlay
				cursor: pointer
				transition: all .3s ease
				background-color: rgba($colorPurple, 0.5)
				visibility: hidden
				opacity: 0
.new-profile-new-popup-registration
	width: 570px !important